body {
  height: 100vh;
  overflow: hidden;
}

.app {
  overflow: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  align-items: center;
}

.one {
  background: url('./clouds.png'), linear-gradient(#170945, #1a5499);
  background-size: cover;
  justify-content: center;
}

.two {
  background: url('./clouds2.png'), linear-gradient(#1a5499, #8a72db);
  background-size: cover;
}

.three {
  background: url('./clouds3.png'), linear-gradient(#8a72db, #ff9afe);
  background-size: cover;
}

.four {
  background: linear-gradient(#ff9afe, #ff9292);
}

.five {
  background: linear-gradient(#ff9292, #fff89a);
}

.text-div {
  flex: 1;
  text-align: 'center'
}

p {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: #fff;
  max-width: 75%;
}

h1 {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
  font-size: 40px;
  color: #fff;
}

h2 {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
  font-size: 20px;
  color: #fff;
}

.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.lexend-exa {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.phone {
  background-color: #242a33;
  border-radius: 20px;
  height: 80%;
  width: 50%;
  margin-left: 5%;
  margin-right: 10%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.video {
  width: 100%;
  border-radius: 20px;
}